<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/comments/new" method="POST">
      <label>Name:</label>
      <input type="input" name="name"/>
      <label>Comment:</label>
      <input type="input" name="comment"/>
      <input type="submit" value="Add Comment"/>
    </form>
  </body>
</html>