@(comments: Iterator[Comment])

@main("All Comments!") {
    <ul id="comments">
    @comments.map { comment =>
        <li><label>User: </label>@comment.name<label> Comment: </label>@comment.comment</li>
    }
    </ul>
    @helper.form(action = routes.Application.save) {
        <input name="name" type="text" id="nameBox" placeholder="name">
        <textarea name="comment" id="commentBox" placeholder="please enter your comment" rows="2" cols="40"></textarea>
        <input type="submit" id="create" value="add comment">
    }
}